* {
    font-family: "Itim", cursive;
}

body {
    background-color: #f7f7f7;
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
}

.z-ind {
    z-index: -1;
}

nav {
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.card-enabled {
    cursor: pointer;
}

.card-disabled {
    cursor: not-allowed;
}

img {
    max-width: 235px;
    max-height: 300px;
}

@media (min-width: 992px) {
    li {
        background-color: white;
    }

    .m-lg {
        margin-right: 1rem;
    }

    a:hover {
        color: rgb(238,174,202) !important;
    }
}

@media (max-width: 575.98px) {
    .img-bid {
        max-height: 150px;
    }

    .nopad {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}
